<div class="jumbotron">
  <h1 class="display-4">GreatReads </h1>
  <hr class="my-4">
    <%= link_to "Add author", "/authors/new" %>
  <hr />
</div>

  <h2> Meet your favorite author...</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>List of authors</th>
          <th> Remove authot </th>
        </tr>
      </thead>

      <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><i><%= link_to author.name, author_path(author) %></i></td>
            <td><%= link_to 'Remove author', author_path(author), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
