<h1> GreatReads </h1>
  <hr />

  <h2> Meet your favorite book...</h2>

    <% @books.each do |book| %>
      <h3>
        <%= link_to book.title, book_path(book) %>
      </h3>
    <% end %>

<%= link_to "Add book", "/books/new" %>
