<footer>
  <div class="copyright">
    <p>&copy 2019 - GreatReads, Inc.</p>
  </div>
  <div class="social">
    <a href="#" class="support">Contact Us</a>
    <a href="https://www.facebook.com/" class="face">f</a>
    <a href="https://twitter.com/" class="tweet">t</a>
    <a href="https://pl.linkedin.com/" class="linked">l</a>
  </div>
</footer>
